@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  min-height: 660px;
  background-color: #F3EED9;
  color: #824936;
  text-align: center;
}

.hero-text {
  max-width: 700px;
}

.hero h1 {
  font-family: 'Playfair Display';
  font-size: 3.75rem;
}

.hero p {
  font-family: Roboto;
  font-size: 1.125rem;
  letter-spacing: .5rem;
}

.flex {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.container {
  margin: 2em auto;
}

.title {
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 2rem;
  color: #824936;
}

.text {
  display: flex;
  font-family: 'Roboto';
  font-size: 1.3rem;
  gap: 2rem;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.green,
.brown {
  min-height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.green {
  background-color: #222c2a;
  color: white;
  font-family: 'Roboto';
}

.article-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 90%;
  max-width: 900px;
}

.brown {
  background-color: #824936;
  color: white;
  font-family: 'Roboto';
}

.title-and-descript {
  width: 45%;
}

.title-and-descript h2 {
  margin-top: 0;
  color: #F3EED9;
  font-size: 2rem;
  font-family: 'Playfair Display';
}

.title-and-descript p {
  font-size: 1.3rem;
}

/* img {
  width: 45%;
} */
